*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

header nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 10vh;
    background-color: #007bff;
}
header nav a{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #fff;
    height: 10vh;
    padding: 0 30px 0 30px;
}
header nav a:hover{
    background-color: #ffc107;
    color: #343a40;
}

#nav-left{
    margin-left: 3vw;
}

#nav-right{
    display: flex;
    margin-right: 3vw;
}