*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* La barre de navigation qui se trouve dans le header */
header nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 10vh;
    background-color: #007bff;
}
/* Les liens de la barre de navigation */
header nav a{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #fff;
    height: 10vh;
    padding: 0 30px 0 30px;
}
/* Changements lorsqu'on passe la souris par dessus un lien de la barre de navigation */
header nav a:hover{
    background-color: #ffc107;
    color: #343a40;
}

/* Le contenu de la page */
main{
    text-align: center;
}

/* Le footer */
footer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10vh;
    height: 10vh;
    width: 100%;
    background-color: #007bff;
    color: #fff;
}
footer a{
    text-decoration: none;
    color: #343a40;
}

/* Les différents formulaires */
form{
    border-radius: 10px;
    margin: 1vh auto auto auto;
    padding: 1vh 1vw;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 70vw;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
form div{
    display: flex;
    flex-direction: column;
}
form input[type=text]{
    width: 68vw;
    border-radius: 5px;
    border: 1px solid #000;
    padding: 5px;
}
form label{
    align-self: flex-start;
}
form select{
    border: 1px solid #000;
    border-radius: 5px;
    padding: 5px;
}
form textarea{
    resize: none;
    border-radius: 5px;
    width: 68vw;
    padding: 5px;
}

/* Tout les liens d'ajout (<a>) */
.lienAjout{
    font-weight: 500;
    text-decoration: none;
    color: #343a40;
    padding: 5px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    border: 1px solid #000;
    border-radius: 5px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 5vh;
    width: 20vw;
    transition: all 0.5s ease-in-out;
}
.lienAjout:hover{
    background-color: #ffc107;
    transform: scale(0.9);
}

/* Tout les bouton d'ajout (<input>) */
.boutonAjout{
    margin-top: 1vh;
    padding: 5px;
    font-weight: 500;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    border: 1px solid #000;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}
.boutonAjout:hover{
    background-color: #ffc107;
    transform: scale(0.9);
}

#wrapper{
    position: relative;
}

/* La partie gauche de la barre de navigation */
#nav-left{
    margin-left: 3vw;
}

/* La partie droite de la barre de navigation */
#nav-right{
    display: flex;
    margin-right: 3vw;
}