*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* La barre de navigation qui se trouve dans le header */
header nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 10vh;
    background-color: #007bff;
}
/* Les liens de la barre de navigation */
header nav a{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #fff;
    height: 10vh;
    padding: 0 30px 0 30px;
}
/* Changements lorsqu'on passe la souris par dessus un lien de la barre de navigation */
header nav a:hover{
    background-color: #ffc107;
    color: #343a40;
}

/* Le contenu de la page */
main{
    text-align: center;
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10vh;
    height: 10vh;
    width: 100%;
    background-color: #007bff;
    color: #fff;
}
footer a{
    text-decoration: none;
    color: #343a40;
}

#wrapper{
    position: relative;
}

/* La partie gauche de la barre de navigation */
#nav-left{
    margin-left: 3vw;
}

/* La partie droite de la barre de navigation */
#nav-right{
    display: flex;
    margin-right: 3vw;
}